<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/login/logout"><button type="button" name="logout">Logout</button></a>
  <h2>Current Products:</h2>
  {%for photos in photos%}
    <img src="{{photos.photo}}" alt="Photo" width="100px" height="auto">
  {%endfor%}
  <a href="/addproduct"><button type="button" name="addproduct">Add Product</button></a>
</body>
</html>
